#mapFetch{
  text-align:center;
  margin:1em 0;
}
#mapFetch svg{
  margin-bottom:-.3em;
  color:#1aad19;
}
#mapFetch p{
  margin:.5em 0;
}
#pictureBtn{
  text-align:center;
  margin:.5em 0;
}
#mainMap {
  width: 100%;
  height: 88%;
  overflow: hidden;
  margin:0;
}
#fileImg,#fileVideo {
  display:none
}
#fileImg+label,#fileVideo+label {    
  color: #1aad19;
  border: 1px solid #1aad19;
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px;
  border-radius: 5px;
}
#video{
  width:48%;
}