.am-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1010;
}
.submitBtn{
  background:#df2507;
  color:white;
  border-radius: 5px;
}
.cancelBtn{
  background:transparent;
  color:#666;
  border:solid 2px #666;
  border-radius: 5px;
}
.operateBtn{
  text-align: center;
}
.submitBtn:hover,.submitBtn:focus{
  color:#fff;
}