body{
  background-color: rgba(196,0,0,0.1);
  background: -webkit-linear-gradient(left top, rgba(196,128,0,0.2) , rgba(196,0,0,0.1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, rgba(196,128,0,0.2), rgba(196,0,0,0.1)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(196,128,0,0.2), rgba(196,0,0,0.1)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, rgba(196,128,0,0.2) , rgba(196,0,0,0.1)); /* 标准的语法（必须放在最后） */
}
.error{
  background-color: #df2507;
  color: #fff;
  font-size:.5em;
  width: 100%;
  padding-left: .5em;
}
.am-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1010;
}
.submitBtn{
  background:#df2507;
  color:white;
  border-radius: 5px;
}
.cancelBtn{
  background:transparent;
  color:#666;
  border:solid 2px #666;
  border-radius: 5px;
}
.operateBtn{
  text-align: center;
}
.submitBtn:hover,.submitBtn:focus{
  color:#fff;
}