body{
  background: -webkit-linear-gradient(left top, rgba(196,128,0,0.2) , rgba(196,0,0,0.1));
  background: -o-linear-gradient(bottom right, rgba(196,128,0,0.2), rgba(196,0,0,0.1));
  background: -moz-linear-gradient(bottom right, rgba(196,128,0,0.2), rgba(196,0,0,0.1)); 
  background: linear-gradient(to bottom right, rgba(196,128,0,0.2) , rgba(196,0,0,0.1));
}
.am-header-default {
  background-color: #df2507;
}
.am-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1010;
}
#eventReporter input,#eventReporter textarea,#userRegister select,#userRegister input,.error{
  border-radius:3px;
}
.must{
  padding-left:.2em;
  color: #ff0000;
}
span{
  margin-right:.2em;
  transition: all .5s;
}
span:active{
  transform: rotate(360deg);
}
fieldset{
  border:solid 1px #ccc;
  border-radius: 3px;
  background-color: white;
}
.error{
  background-color: #df2507;
  color: #fff;
  font-size:1em;
  width: 100%;
  padding-left: .5em;
}
.submitBtn{
  background:#df2507;
  color:white;
  border-radius: 5px;
  outline:none;
}
.cancelBtn{
  background:transparent;
  color:#666;
  border:solid 2px #666;
  border-radius: 5px;
  outline:none;
}
.operateBtn{
  text-align: center;
}
.submitBtn:hover,.submitBtn:focus{
  color:#fff;
}